body, h1, label, button
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body
{
    margin: 0;
    padding: 0;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #333;
}

.page-title
{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
}

.login-card
{
    display: flex;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 600px;
    max-width: 90%;
	transition: all 0.5s ease;
}

.login-card:hover
{
	box-shadow: 0 10px 25px rgba(100, 0, 0, 0.2);
	transition: all 0.5s ease;
}

.logo-section
{
    width: 150px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-section img
{
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    -webkit-user-drag: none;
    pointer-events: none;
}

.form-section
{
    flex: 1;
    padding: 40px 30px;
}

.input-group
{
    margin-bottom: 20px;
}

.input-group label
{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
    font-size: 14px;
}

.input-group input
{
    width: 100%;
    padding: 12px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.input-group input:focus
{
    border-color: #ef0001;
    box-shadow: 0 0 5px rgba(231,76,60,0.3);
}

.error-text
{
    color: #ef0001;
    font-weight: normal;
    margin-bottom: 15px;
    display: none;
    text-align: left;
}

button
{
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover
{
    background-color: #ef0000d0;
}

@media(max-width: 600px)
{
    .login-card {
        flex-direction: column;
    }
    .logo-section {
        width: 100%;
        padding: 20px 0;
    }
}