RewriteEngine On

# HOME
RewriteRule ^/?$ index.php [L,QSA]

# LOGIN
RewriteRule ^login/?$ login/login.php [L,QSA]

# REGISTER
RewriteRule ^register/?$ register/register.php [L,QSA]

# LOGOUT
RewriteRule ^logout/?$ logout.php [L,QSA]

# ADMIN OVERVIEW
RewriteRule ^admin/overview/?$ admin/admin.php [L,QSA]

# ADMIN USERS
RewriteRule ^admin/users/?$ admin/admin.php [L,QSA]

# ADMIN (shortcut to overview)
RewriteRule ^admin/?$ admin/admin.php [L,QSA]
