body, h1, label, button
{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body
{
	margin: 0;
	padding: 0;
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	background-color: #333;
	background-image: linear-gradient(135deg, rgba(0,0,0,0.6), rgba(0,0,0,0.25)), url('../media/login-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.page-title
{
	font-size: 28px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 25px;
	text-align: center;
}

.auth-card
{
	display: flex;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
	overflow: hidden;
	width: 600px;
	max-width: 90%;
}

.logo-section
{
	width: 175px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7px;
}

.logo-section img
{
	max-width: 100%;
	max-height: 175px;
	object-fit: contain;
	pointer-events: none;
}

.form-section
{
	flex: 1;
	padding: 40px 30px;
}

.input-group
{
	margin-bottom: 20px;
}

.input-group label
{
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
	color: #555;
	font-size: 14px;
}

.input-group input
{
	width: 100%;
	padding: 12px 14px;
	border-radius: 6px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 15px;
	box-sizing: border-box;
	transition: 0.3s;
}

.input-group input:focus
{
	border-color: #e5993c;
	box-shadow: 0 0 5px rgba(189, 76, 1, 0.3);
}

.login-inline
{
	margin-top: 13px;
	font-size: 14px;
	text-align: left;
	color: #555;
}

.login-inline a
{
	color: #e5993c;
	font-weight: bold;
	text-decoration: none;
}

.login-inline a:hover
{
	text-decoration: underline;
}

.error-text
{
	color: #ef0001;
	margin-bottom: 15px;
	display: none;
}

button
{
	width: 100%;
	padding: 12px;
	background-color: #333;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;
}

button:hover
{
	background-color: #ba4d24;
}

.copyright
{
	color: #ccc;
	font-size: 13px;
}

@media(max-width: 600px)
{
	.auth-card
	{
		flex-direction: column;
	}
	.logo-section
	{
		width: 100%;
		padding: 20px 0;
	}
}